In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Processed_data.csv")
df.head()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.shape

(7032, 21)

In [4]:
df = df.drop(["Unnamed: 0","gender","PhoneService","MultipleLines","InternetService"],axis=1)

In [5]:
df

,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,0,No,No,34,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,0,No,No,2,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,0,No,No,45,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,0,No,No,2,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,Yes,Yes,24,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7028,0,Yes,Yes,72,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7029,0,Yes,Yes,11,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7030,1,Yes,No,4,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7031,0,No,No,66,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [6]:
df.head(2)

,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,0,No,No,34,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No

In [7]:
from sklearn.pipeline import Pipeline

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [9]:
#!pip install sklearn_pandas

In [10]:
from sklearn_pandas import DataFrameMapper

In [11]:
df.columns

Index(['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7032 non-null   int64
 1   Partner           7032 non-null   object
 2   Dependents        7032 non-null   object
 3   tenure            7032 non-null   int64
 4   OnlineSecurity    7032 non-null   object
 5   OnlineBackup      7032 non-null   object
 6   DeviceProtection  7032 non-null   object
 7   TechSupport       7032 non-null   object
 8   StreamingTV       7032 non-null   object
 9   StreamingMovies   7032 non-null   object
 10  Contract          7032 non-null   object
 11  PaperlessBilling  7032 non-null   object
 12  PaymentMethod     7032 non-null   object
 13  MonthlyCharges    7032 non-null   float64
 14  TotalCharges      7032 non-null   float64
 15  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 879.1+ KB

In [13]:
m = DataFrameMapper([(["PaperlessBilling",LabelEncoder()]),(["PaymentMethod",LabelEncoder()]),
                     (["Partner",LabelEncoder()]),(["Dependents",LabelEncoder()]),
                     (["StreamingTV",LabelEncoder()]),(["StreamingMovies",LabelEncoder()]),
                     (["OnlineSecurity",LabelEncoder()]),(["OnlineBackup",LabelEncoder()]),
                     (["DeviceProtection",LabelEncoder()]),(["TechSupport",LabelEncoder()]),
                     (["Contract",LabelEncoder()])
                ])

In [14]:
classifier = []
classifier.append(("mapper",m))
classifier.append(('standardize', StandardScaler()))
classifier.append(("model",RandomForestClassifier(criterion="entropy")))

In [15]:
classifier

[('mapper',
  DataFrameMapper(drop_cols=[],
                  features=[['PaperlessBilling', LabelEncoder()],
                            ['PaymentMethod', LabelEncoder()],
                            ['Partner', LabelEncoder()],
                            ['Dependents', LabelEncoder()],
                            ['StreamingTV', LabelEncoder()],
                            ['StreamingMovies', LabelEncoder()],
                            ['OnlineSecurity', LabelEncoder()],
                            ['OnlineBackup', LabelEncoder()],
                            ['DeviceProtection', LabelEncoder()],
                            ['TechSupport', LabelEncoder()],
                            ['Contract', LabelEncoder()]])),
 ('standardize', StandardScaler()),
 ('model', RandomForestClassifier(criterion='entropy'))]

In [16]:
X = df.drop("Churn",axis=1)
y = df["Churn"]

In [17]:
X

,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Yes,No,1,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,0,No,No,34,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
2,0,No,No,2,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,0,No,No,45,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,0,No,No,2,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,Yes,Yes,24,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50
7028,0,Yes,Yes,72,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90
7029,0,Yes,Yes,11,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45
7030,1,Yes,No,4,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60
7031,0,No,No,66,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50

In [18]:
model = Pipeline(classifier)
model.fit(X,y)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[['PaperlessBilling', LabelEncoder()],
                                           ['PaymentMethod', LabelEncoder()],
                                           ['Partner', LabelEncoder()],
                                           ['Dependents', LabelEncoder()],
                                           ['StreamingTV', LabelEncoder()],
                                           ['StreamingMovies', LabelEncoder()],
                                           ['OnlineSecurity', LabelEncoder()],
                                           ['OnlineBackup', LabelEncoder()],
                                           ['DeviceProtection', LabelEncoder()],
                                           ['TechSupport', LabelEncoder()],
                                           ['Contract', LabelEncoder()]])),
                ('standardize', StandardScaler()),
                ('model', RandomForestClassifier(criterion='entropy'))])

# User Testing

In [19]:
df

,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,0,No,No,34,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,0,No,No,2,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,0,No,No,45,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,0,No,No,2,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,Yes,Yes,24,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7028,0,Yes,Yes,72,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7029,0,Yes,Yes,11,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7030,1,Yes,No,4,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7031,0,No,No,66,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [20]:
dict(df.iloc[1,:])

{'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 34,
 'OnlineSecurity': 'Yes',
 'OnlineBackup': 'No',
 'DeviceProtection': 'Yes',
 'TechSupport': 'No',
 'StreamingTV': 'No',
 'StreamingMovies': 'No',
 'Contract': 'One year',
 'PaperlessBilling': 'No',
 'PaymentMethod': 'Mailed check',
 'MonthlyCharges': 56.95,
 'TotalCharges': 1889.5,
 'Churn': 'No'}

In [21]:
new = {'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 34,
 'OnlineSecurity': 'Yes',
 'OnlineBackup': 'No',
 'DeviceProtection': 'Yes',
 'TechSupport': 'No',
 'StreamingTV': 'No',
 'StreamingMovies': 'No',
 'Contract': 'One year',
 'PaperlessBilling': 'No',
 'PaymentMethod': 'Mailed check',
 'MonthlyCharges': 56.95,
 'TotalCharges': 1889.5,
    }

In [22]:
data = pd.DataFrame(new,index=[0])

In [23]:
data

,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,No,No,34,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5

In [24]:
model.predict(data)

array(['No'], dtype=object)

# Model Saving

In [25]:
import pickle

In [26]:
with open("final_model.sav",mode="wb") as f1:
    pickle.dump(model,f1)

In [27]:
for i in X.columns:
    print(i,X[i].unique())
    print("\n\n")

SeniorCitizen [0 1]



Partner ['Yes' 'No']



Dependents ['No' 'Yes']



tenure [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]



OnlineSecurity ['No' 'Yes' 'No internet service']



OnlineBackup ['Yes' 'No' 'No internet service']



DeviceProtection ['No' 'Yes' 'No internet service']



TechSupport ['No' 'Yes' 'No internet service']



StreamingTV ['No' 'Yes' 'No internet service']



StreamingMovies ['No' 'Yes' 'No internet service']



Contract ['Month-to-month' 'One year' 'Two year']



PaperlessBilling ['Yes' 'No']



PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']



MonthlyCharges [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]



TotalCharges [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]

In [28]:
X

,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Yes,No,1,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,0,No,No,34,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
2,0,No,No,2,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,0,No,No,45,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,0,No,No,2,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,Yes,Yes,24,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50
7028,0,Yes,Yes,72,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90
7029,0,Yes,Yes,11,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45
7030,1,Yes,No,4,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60
7031,0,No,No,66,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50

In [29]:
new = {'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 34,
 'MultipleLines': 'No',
 'InternetService': 'DSL',
 'OnlineSecurity': 'Yes',
 'OnlineBackup': 'No',
 'DeviceProtection': 'Yes',
 'TechSupport': 'No',
 'Contract': 'One year',
 'PaperlessBilling': 'No',
 'PaymentMethod': 'Mailed check',
 'MonthlyCharges': 56.95,
 'TotalCharges': 1889.5,
    }

In [30]:
data = pd.DataFrame(new,index=[0])

In [31]:
data

,SeniorCitizen,Partner,Dependents,tenure,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,No,No,34,No,DSL,Yes,No,Yes,No,One year,No,Mailed check,56.95,1889.5

In [32]:
model.predict(data)

KeyError: 'StreamingTV'